.git
.github
.gitignore
.dockerignore

.venv
venv
__pycache__
*.py[cod]
*.egg-info
.pytest_cache

tests
docs
experiments
payload_sample.json

config/env
deploy/mosquitto/certs
deploy/mosquitto/passwd
*.pem
*.crt
*.key
*.csr
*.srl

influxdb-data
grafana-data
.DS_Store
.vscode
*.swp
